*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
body{
    background-color: #9fa2ad;
}
.header{
    height: 100vh;
    background-image: url(images/mecha2.png);
    background-size: cover;
    position: relative;
    top: -5vh;
}
.en-tete{
    display: grid;
    grid-template-columns: 90% 4% 4%;
    align-items: center;
    background-color: #dae2ff;
    height: 8vh;
    position: relative;
    top: 5vh;

}

.titre{
    color: rgb(14, 10, 65);
    text-align: center;
    padding-top: 75vh;
    
}
.linkedin{
    width: 30px;
}