*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
  text-decoration: none;
}

body{
    background-color: #9fa2ad;
}

.header{
    height: 100vh;
    background-image: url(images/contact.jpg);
    background-size: cover;
    position: relative;
}

.en-tete{
    display: grid;
    grid-template-columns: 94% 4%;
    align-items: center;
    background-color: #dae2ff;
    height: 8vh;
    position: relative;

}

.contact{

    background-color: rgba(178, 188, 223, 0.61);
    border-radius: 30px;
    margin: 50px 20vw;
    padding: 20px  10vw;    
    height: 50vh;
}
form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}
input[type=text]{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid rgb(190, 219, 248);
    border-radius: 8px;
}

input[type=submit] {
    width: 100%;
    height: 5vh;
    background-color: #2f7a89;
    color: white;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.hideText{
    color: #450c0c;
}
.hide{
    visibility: hidden;
}